.titulo {
    width: 30rem;
    height: 10rem;
    margin: 2rem auto;
    display: flex;
}

.carta {
    display: flex;
    flex-direction: row-reverse;
    border-radius: 40px;
    border-color: aliceblue;
    padding: 1rem;
    column-gap: 15px;
    width: 40%;
    margin-top: 5rem;
    border: 3px solid #ffffff;
    height: 9.5rem;
    margin-left: 27%;
}

.info {
    flex-direction: column;
}

.texto {
    font-family: 'Silkscreen', cursive;
    color: azure;
    font-size: 17px;
    word-break: break-all;
    margin: 2px;
}

.img {

    border-radius: 40px;
    height: 10rem;
}

.nombre {
    color: rgb(43, 255, 0);
    font-family: 'Silkscreen', cursive;
    font-size: 20px;
}

.linkedInIcon {
    height: 15%;
}

.paragraph {
    color: white;
    text-align: justify;
    margin: 4rem 8rem;
    font-family: 'Silkscreen', cursive;
    font-size: 30px;
}

.confidential {
    color: rgb(247, 91, 18);
    text-align: center;
    margin: 3rem 8rem;
    font-family: 'Silkscreen', cursive;
    font-size: 30px;
}